<html>
	<head>
		<title>Movie Search</title>
		<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>		
    </head>

    <body>
    	<form>
			Movie:<br>
			<input type="text" id="movieField" value = "gladiator">
			<br>
			<input type="submit" id='button' value="Submit">

			<div class="results"></div>
			<br>
			<br>
			<div id="movieposter"></div>
		</form> 


		<!-- Javascript goes below this -->
		<script type="text/javascript">
            $(function(){				
                $('#button').click(function(e){
                    e.preventDefault();
                    
                    var movieTitle = $('#movieField').val() //need the # to reference DOM element
					console.log(movieTitle);

					var settings = {
						  "async": true,
						  "crossDomain": true,
						  "url": "https://api.themoviedb.org/3/search/movie?query=" + movieTitle + "&api_key=12286b90480b8599e5a08ffbf87d0caf",
						  "method": "GET",
						  "headers": {},
						  "data": "{}"
						}

						$.ajax(settings).done(function (response) {
							var overview = response.results[0].overview;
							var poster = response.results[0].poster_path;

						    //console.log(response.results[0].poster_path);
						    var imgPath = "https://image.tmdb.org/t/p/w185/"+poster
						    console.log(imgPath)

						    $('.results').html(overview);
						    var img=$("<img />").attr("src",imgPath);
							img.appendTo($("#movieposter"));

						    
						});
                });				
            });
        </script>
            
    </body>
